<h2>Custemer Details</h2>

<mat-card class="example-container">
  <mat-form-field>
    <input matInput placeholder="Customer Name">
  </mat-form-field>

  <mat-form-field>
      <input matInput placeholder="Customer Surname">
  </mat-form-field>

  <mat-form-field>
      <input matInput placeholder="Contact Person">
  </mat-form-field>

  <mat-form-field>
      <input matInput placeholder="Contact Phone No">
  </mat-form-field>

  <mat-form-field>
      <input matInput placeholder="Contact Cell No">
  </mat-form-field>

  <mat-form-field>
      <input matInput placeholder="Email">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Address"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Select Region">
      <mat-option value="option">Centurion</mat-option>
      <mat-option value="option">Bellville</mat-option>
      <mat-option value="option">Durban</mat-option>
      <mat-option value="option">Teraco</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
      <mat-select placeholder="Select Term">
        <mat-option value="option">1</mat-option>
        <mat-option value="option">2</mat-option>
        <mat-option value="option">3</mat-option>
        <mat-option value="option">4</mat-option>
        <mat-option value="option">5</mat-option>
      </mat-select>
    </mat-form-field>
</mat-card>