.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-list-base .mat-list-item {
  font-size: 14px;
}

.menu-list{
  font-size: 14px !important;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.spacer{
  flex: 1 1 auto;
}

mat-toolbar a{
  display: inline;
  margin: 0 10px;
  color: white !important;
  text-decoration: none;
}

mat-sidenav{
  color: #fff !important;
  // background-color: #000;
}

mat-list-item-content{
  color : #fff !important;
}