/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');
@import '../node_modules/material-design-icons/iconfont/material-icons.css';

html, body{
    height: 100%;
    // font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px !important;
    font-weight: 500;
}

body{
    margin: 0;
}

